
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/admincss")
	@RenderSection("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-footer-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		
		@Html.Partial("_AdminSideBar")
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			@RenderBody()
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer login-footer fixed-bottom">
			<strong>Copyright &copy; @DateTime.Now.Year </strong> All rights reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
		<div class="control-sidebar-bg"></div>

	</div>
	<!-- ./wrapper -->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/adminlte")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")

	@RenderSection("Scripts", required: false)
</body>
</html>
